.App {
  text-align: center;
}

.todos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top:20px;
}

.task-container{
  background-color: #f1f1f1;
  padding: 10px;
}

.in-progress {
  background-color: aquamarine;
  padding: 10px;
}

.done {
  background-color: rgb(255, 200, 127);
  padding: 10px;
}

.draggable {
  border: 1px solid black;
  margin: 5px;
}