* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.App {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
}

.input-container {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 30%;
  height: 100%;
}

.todos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 20px;
  padding: 20px;
}


.task-container,.in-progress,.done {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 10px 10px 5px #d6d4d4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}
.faicons {
  cursor: pointer;
  margin-left: 50px;
}

.faicons :hover {
  color: red;
}

.title-todo, .title-done, .title-doing{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title-todo {
  background-color: #5b8df4;
}
.title-doing {
  background-color: #f8942d;
}

.title-done {
  background-color: #74be7e;
}

.draggable {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-content: center;
  margin: 10px;
  text-align: left;
  color: rgb(2, 2, 2);
  height: 50px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  
}

.button-class {
  display: inline-block;
  background-color: rgba(142, 12, 36, 1);
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 20px;
}

.button-class span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-class span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-class:hover span {
  padding-right: 25px;
}

.button-class:hover span:after {
  opacity: 1;
  right: 0;
}